<div class="back"><a href="/domains">Back</a></div>
<%= form_tag '/domains', class: 'form' do %>
  <fieldset class="form-group">
    <%= label_tag :bulk_domains %> <span>(one per line)</span>
    <%= text_area_tag :domains, '', class: 'form-control' %>
    <div class="note">Duplicates will be automatically scrubbed</div>
  </fieldset>

  <fieldset class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </fieldset>
<%- end %>
