<div class="add"><a href="/keywords/new">Add keywords</a></div>
<table class="table table-striped">
  <tr>
    <th>Keyword</th>
    <th>Added on</th>
    <th></th>
  </tr>
  <%- @keywords.each do |kw| %>
  <tr>
    <td><%= kw.value %></td>
    <td><%= kw.created_at.to_date.in_time_zone %></td>
    <td>
      <%= link_to kw, method: :delete, 
        data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-times"></i>
      <%- end %>
    </td>
  </tr>
  <%- end %>
</table>
